<h1>Welcome to Burger Restaurant</h1>

<h2>Are you ready to devour the burgers?</h2>

<ul>
  {{#each burgers}}
    {{#unless type}}
      {{> burgers/burger-block type=true}}
    {{/unless}}
  {{/each}}
</ul>



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Something goes here</label><br>
    <input type="radio" name="sleepy" value="1" checked> <br>
    <input type="radio" name="sleepy" value="0"> 
  </div>

  <button type="submit">Add Burger</button>