

<h2>Welcome to the burger logger.Add your burgers and click on "Devour!" to see the magic.</h2>


<div id = "right">Devoured.</div> 

  <ul>
  {{#each burgers}}
  {{#if devoured}}
  
  {{> burgers/burger-block2 devoured=true}}
  {{/if}}
  {{/each}}
  </ul>





<div id ="left">Not Devoured yet.</div>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    
  {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>



<h1>Add a Burger</h1>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Enter the name of your burger:</label>
    <input type="text" id="burger" name="name">
  <!--
  </div>
   <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Not Devoured!<br>
    <input type="radio" name="devoured" value="0"> Devoured
  </div>
-->
  <div class="btn">
  <button class = "button" id= "add" type="submit">Add Burger</button>
  </div>
 
</form>

  
