

<h2>Welcome to the burger logger.</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Not Devoured yet.</h3>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured = false}}
  {{/if}}
  {{/each}}
</ul>



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Enter the name of your burger:</label>
    <input type="text" id="burger" name="name">
  </div>
   <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Not Devoured!<br>
    <input type="radio" name="devoured" value="0"> Devoured
  </div>

  
  <button class = "button" type="submit">Add Burger</button>
</form>
