*{
  color: aliceblue
}

body{
   background-image: linear-gradient(to right, black,teal);
  
}


li {
  padding: 5px;
  margin: 30px;
  text-align: center;
  color: #000;
  
  
}

.label {
  font-weight: normal;
  
}


.create-update-form {
  padding: 5px;
  margin: 5px;
 
}

.form-group {
  margin-bottom: 50px;
  font-family: cursive;
  text-align: center;
}

#burger {
  color: #000;
}


h1{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 25px;
}


h2{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}



.button{
  color: #000;
  text-align: center;
}

.change-devoured{
  color: #000;
  float: left;
  
}

.delete-burger {
  color: #000;
  float: left;
  margin-left: 3px;
}

.btn{
  text-align:center;
  margin-top: 2%;
}


#right {
  text-align: right;
  margin-right: 80px;
  margin-bottom: 20px;
  color: blanchedalmond;
  font-size: 20px;
  
  
}

#left{ 
  font-size: 20px;
  color:wheat; 
  margin-left: 80px;
  
}


.dev{
  color: #000;
  float: right;
  margin-right: 29px;
}

